@tailwind base;
@tailwind components;
@tailwind utilities;

.Nav {
    background-color: #F87171;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #14539A;
}
.Nav h1{
    color: white;
    font-size: 20px;
}

.details {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.login button {
    background-color: none;
    border: 1px solid white;
    color: white;
    padding: 10px 10px;
    width: 100px;
    margin-right: 20px;
}
.body button{
    background-color: #3C82F6;
    padding: 20px 20px;
    color: white;
    font-weight: 900;
}
.body p{
    border: 2px solid red;
    background-color: #FEE2E1;
    width: 80vw;
    margin-top: 40px;
    padding: 20px 20px;
}
.body{
    margin-top: 10vw;
    position: absolute;
    left: 40px;
}
.logoadd{
    display: flex;
    margin-top: 25vw;
    width: 30vw;
    align-items: center;
    position: relative;
    top: 25vw;
    margin: auto;
}
.logoadd h1{
    font-weight: 900;
    font-size: 20px;
}
.Footer{
    background-color: #E5E7EB;
    width: 100vw;
    padding: 20px 20px;
    text-align: center;
    height: 60px;
    position: relative;
    top: 20vw;
}